.product-container {
    padding: 25px;
    background: #fff;
    border: 1px solid #006e9c;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-top: 2%;
}

.product-title {
  font-weight: 600;
  margin-bottom: 2rem;
  font-size: 18px;
  color:#000
}

.product-input-wrapper {
    background: #f9f9f9;
    border-radius: 8px;
    padding: 1% !important;
    border: 1px solid #006e9c;
}

.input-icon {
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 6px 10px;
  display: flex;
  align-items: center;
}

.input-icon .icon {
  font-size: 1.1rem;
  color: #666;
}

.user-input {
  border: none;
  outline: none;
  box-shadow: none;
  width: 100%;
}

.product-details-card {
    background-color: #fff;
    border: 1px solid #eee;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem;
    border-radius: 8px;
    align-items: center;
}


.product-image-container {
  flex-shrink: 0;
}

.product-image {
    width: 120px;
    height: 120px;
    object-fit: contain;
    aspect-ratio: 1/1;
}

.product-info {
    flex-grow: 1;
    font-size: 14px;
    color: #000;
    font-weight: 400;
}

.product-name {
  font-weight: 600;
  color: #333;
  font-size: 16px;
}

.product-price {
  color: #28a745;
  font-weight: 500;
 font-size: 15px;
}

.add-btn-floating {
    position: absolute;
    bottom: -13px;
    right: 15px;
    display: flex;
    gap: 4px;
    align-items: center;
}

.add-btn-floating .btn.btn-dark{
border-radius: 25px;
    padding: 8px 18px;
    font-weight: 500;
    box-shadow: 0 3px 8px rgba(0,0,0,0.2);
}

.add-btn-floating .btn.btn-dark:hover {
  background-color: #222;
  transform: translateY(-2px);
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.4);
}

/* ------------------- Responsive Styles ------------------- */
@media (max-width: 1024px) {

}

@media (max-width: 768px) {


  .product-details-card {
    flex-direction: column;
    align-items: flex-start;
  }


  .product-info {
    width: 100%;
    margin-top: 1rem;
  }



  .product-price {
    font-size: 0.95rem;
  }

  .add-btn-floating {
    position: relative;
    margin-top: 1rem;
    right: 0;
    align-self: flex-end;
  }
}

@media (max-width: 480px) {
  .product-title {
    font-size: 1.2rem;
    text-align: center;
  }

  .product-image {
    max-width: 100%;
  }


  .product-price {
    font-size: 0.9rem;
  }
}
