.main-privateDashboard {
    width: 100%;
}


.main-form-section  .formfieldMain {
    position: relative;
    width: 100%;
}

.main-form-section  .formfieldMain .eyeIcon {
    position: absolute;
    top: 12px;
    right: 5px;
}


