.user-container {
  max-width: 100%;
  /* margin: 30px auto; */
  padding: 1%;
  background: #fff;
  border: 1px solid #006e9c;
  border-radius: 10px;
  box-shadow: 0px 4px 10px rgba(0,0,0,0.1);
}

.user-title {
  font-size: 20px;
  font-weight: 700;
  color: #006e9c;
  margin-bottom: 20px;
  text-align: center;
}

.user-input-group {
  position: relative;
}

.input-icon {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 6px;
  padding: 6px 10px;
  background: #f9f9f9;
}

.input-icon .icon {
  color: #006e9c;
  margin-right: 8px;
  font-size: 16px;
}

.user-input {
  border: none;
  outline: none;
  flex: 1;
  background: transparent;
  font-size: 14px;
}

.user-input.small-input {
  width: 120px; /* narrower mobile input */
}

.user-btn {
  width: 100%;
  background: #006e9c;
  color: #fff;
  border: none;
  border-radius: 6px;
  padding: 10px;
  font-weight: 600;
  /* margin-top: 15px; */
}

.user-btn:hover {
  background: #004a6d;
}

.user-checked-msg {
  font-weight: 500;
  font-size: 14px;
}

