<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Moon Invoive</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
</head>

<style>
    body {
        font-family: "Roboto", sans-serif !important;
    }

    /* table, th, td {
        border: 1px solid #ccc;
        border-collapse: collapse;
    } */
</style>

<body style=" width: 29.7cm;height: 21cm; border-style: solid; border-width: 1px;  border-color: #000;">
    <div style="padding: 30px;">
        <div style="width: 100%;">

            <div style="width: 100%; margin-bottom: 20px;">
                <div style="display: flex;">
                    <div>
                        <img style="width:90px;height: 90px;border-radius: 100%;border: 2px solid #6ec090;"
                            src="../../../../../public/assets/images/Groceries/Store_Info/Scroll Group 162.png" />
                    </div>
                    <div style="margin: auto 0px auto 20px;">
                        <p style="font-weight: 600;font-size: 30px;color: #000;">Scanmart Grocery</p>
                    </div>
                </div>
            </div>

            <div style="width: 100%; ">
                <table style="width: 100%; border: none; background-color: #ebf7ff; padding: 15px 0px 15px 40px;">
                    <tr style=" width: 100%; border: none; ">
                        <td style="width: 50%; font-size: 14px;  border: none;">
                            <p style="font-size: 20px; margin-bottom: 0px; color: #5e5e5e; font-weight: 500;"> Bill to
                            </p>
                            <p style="font-weight: bold;  color: #575353; ">Sujata Roy<br>
                            </p>

                            <p style="font-size: 15px;color: #000;"><img className='icon'
                                    style="width: 10px;height:auto;margin-right: 10px;"
                                    src="../../../../../public/assets/images/Groceries/Store_Info/location.png" /><span>28,
                                    vasan udyog , Parel , Mumbai , 400031</span></p>

                            <p style="font-size: 15px;color: #000;"><img className='icon'
                                    style="width: 10px;height:auto;margin-right: 10px;"
                                    src="../../../../../public/assets/images/Groceries/Store_Info/call.png" /><span>+9190998899</span>
                            </p>
                        </td>

                        <td
                            style="width: 50%; font-size: 14px;  border-top: none; border-bottom: none; border-right: none; padding-left: 10px;">

                            <p style="color: #000;font-size: 15px;">Order No : <span
                                    style="font-weight: 600;">#5566</span></p>

                            <p style="color: #000;font-size: 15px;">Order Date & Time : <span
                                    style="font-weight: 600;">27 oct 2025</span></p>

                            <p style="color: #000;font-size: 15px;">Payment Method : <span
                                    style="font-weight: 600;">Cash on Delivery</span></p>

                            <p style="color: #000;font-size: 15px;"><span style="font-weight: 600;">Total</span><span
                                    style="font-weight: 600;">KWD20.000</span></p>

                        </td>
                    </tr>
                </table>
            </div>



            <div class="product-table">
                <table style="width: 100%;  margin-top: 15px; border: 1px solid #ccc;border-collapse: collapse;">
                    <thead style="background-color: #05505a;color: #fff;font-size: 16px;">
                        <tr style=" text-wrap: nowrap;">
                            <th
                                style=" font-size: 16px;padding: 13px; border: 1px solid #ccc; border-collapse: collapse;   font-weight:500; margin: 0;  ">
                                S.No</th>
                            <th
                                style=" font-size: 16px;padding: 13px; border: 1px solid #ccc; border-collapse: collapse;   font-weight:500; margin: 0;  ">
                                Description</th>
                            <th
                                style=" font-size: 16px;padding: 13px; border: 1px solid #ccc; border-collapse: collapse;   font-weight:500; margin: 0;  ">
                                Item Code</th>
                            <th
                                style=" font-size: 16px;padding: 13px; border: 1px solid #ccc; border-collapse: collapse;   font-weight:500; margin: 0;  ">
                                Rate</th>
                            <th
                                style=" font-size: 16px;padding: 13px; border: 1px solid #ccc; border-collapse: collapse;   font-weight:500; margin: 0;  ">
                                Oty</th>
                            <th
                                style=" font-size: 16px;padding: 13px; border: 1px solid #ccc; border-collapse: collapse;   font-weight:500; margin: 0;  ">
                                Discount</th>
                            <th
                                style=" font-size: 16px;padding: 13px; border: 1px solid #ccc; border-collapse: collapse;   font-weight:500; margin: 0;  ">
                                Total</th>

                        </tr>
                    </thead>

                    <tbody>
                        <tr style="border: 1px solid #000;text-align: center;">
                            <td
                                style="font-size: 15px; border: 1px solid #ccc; border-collapse: collapse;padding: 10px;">
                                1 </td>

                            <td
                                style="font-size: 15px; border: 1px solid #ccc; border-collapse: collapse;padding: 10px;">
                                1 </td>

                            <td
                                style="font-size: 15px; border: 1px solid #ccc; border-collapse: collapse;padding: 10px;">
                                1 </td>

                            <td
                                style="font-size: 15px; border: 1px solid #ccc; border-collapse: collapse;padding: 10px;">
                                1 </td>

                            <td
                                style="font-size: 15px; border: 1px solid #ccc; border-collapse: collapse;padding: 10px;">
                                1 </td>

                            <td
                                style="font-size: 15px; border: 1px solid #ccc; border-collapse: collapse;padding: 10px;">
                                1 </td>

                            <td
                                style="font-size: 15px; border: 1px solid #ccc; border-collapse: collapse;padding: 10px;">
                                1 </td>

                        </tr>
                    </tbody>
                </table>

            </div>

            <div class="totaldesdiv" style="display: flex;justify-content: end;margin-top: 20px;">
                <div style="width: 50%;background-color: #f1f1f1; border: 1px solid #ccc;padding: 20px 10px;">
                    <div style="display: flex;margin-bottom: 10px;">
                        <div style="width: 70%;">
                            <p style="font-size: 15px;font-weight:600;margin:0px;color: #000;">Sub Total</p>
                        </div>
                        <div style="width: 30%;">
                            <p style="font-size: 15px;font-weight:400;margin:0px;color: #000;">KWD 0.000</p>
                        </div>
                    </div>
                    <div style="display: flex;margin-bottom: 10px;">
                        <div style="width: 70%;">
                            <p style="font-size: 15px;font-weight:600;margin:0px;color: #000;">Delivery Charges <span
                                    style="font-size:13px;color:#f76b0a;font-weight: 400;">(Free Delivery)</span></p>
                        </div>
                        <div style="width: 30%;">
                            <p style="font-size: 15px;font-weight:400;margin:0px;color: #000;">KWD 0.000</p>
                        </div>
                    </div>
                    <div style="display: flex;margin-bottom: 10px;">
                        <div style="width: 70%;">
                            <p style="font-size: 15px;font-weight:600;margin:0px;color: #000;">Total Savings</p>
                        </div>
                        <div style="width: 30%;">
                            <p style="font-size: 15px;font-weight:400;margin:0px;color: #000;">KWD 2.000</p>
                        </div>
                    </div>
                    <div style="display: flex;margin-bottom: 0px;">
                        <div style="width: 70%;">
                            <p style="font-size: 17px;font-weight:600;margin:0px;color: #000;">Grand Total</p>
                        </div>
                        <div style="width: 30%;">
                            <p style="font-size: 17px;font-weight:600;margin:0px;color: #000;">KWD 0.000</p>
                        </div>
                    </div>
                </div>
            </div>


        </div>

    </div>
</body>

</html>